{% extends 'base.html.twig' %}




    {% block title %}
        Contact us
    {% endblock %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col text-white text-center">
                    <h1 class="fw-lighter mt-5">Over ons</h1>
                </div>
                <div class="col">
                    <img src="{{ asset('img/aboutus.jpg') }}" class="mx-auto d-block w-50 border border-1 border-success" alt="About-Us">
                </div>
                <div class="row">
                    <div class="col mt-1">
                        <p class="text-light">SpeedyJohnsPizza onderscheidde zich vanaf het begin door te streven naar ongeëvenaarde kwaliteit en snelheid.
                            De oprichters, een team van toegewijde pizzameesters met een scherp oog voor detail, wilden niet alleen heerlijke pizza's maken, maar ook een ongeëvenaarde klantenservice bieden.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-light">Het begon allemaal in een bescheiden keuken, waar de chefs experimenteerden met verse, hoogwaardige ingrediënten en unieke smaakcombinaties. Het resultaat was een menu dat de traditionele pizza-ervaring naar nieuwe hoogten tilde. Van klassieke Margherita tot gedurfde creaties met exotische toppings, SpeedyJohnsPizza had voor elk wat wils.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-light">Binnen de kortste keren groeide SpeedyJohnsPizza uit tot een lokale sensatie. De pizzeria werd een ontmoetingsplaats voor vrienden, families en levensgenieters die de unieke smaken van SpeedyJohnsPizza wilden ervaren. De constante toewijding aan kwaliteit en klanttevredenheid maakte het bedrijf tot een geliefde naam in Culinaryburg en daarbuiten</p>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}



